<!DOCTYPE html>
<html>
<head>
	<title>Secret</title>
	<style type="text/css">
	body {
	    text-align: center;
	    background-color: #e15252;
	}
	.titre {
		font-size: 42px;
	}
	.container {
	    border: solid 1px;
	    border-radius: 10px;
	    margin: auto;
	    width: 500px;
	    background-color: #efefef;
	    padding: 10px;
	}
	.align_left {
		float: left;
    	margin-left: 20px;
	}
	</style>
</head>
<body>
	<h1 class="titre">Secret Santa</h1>
	<div class="container">
		<p><span class="align_left">Bonjour cher(e) <?= participant ?>,</span> <br>Vous etes conviez à participer au secret santa du groupe <?= group_name ?>.</p>
		<p>Et vous devez faire un cadeau à <br><b><?= assigned_participant ?></b></p>
		<p>Celui-ci prendra place le <?= date ?> à <?= time ?>.<br>
		Lieux : <?= places ?>
	</div>
	
</body>
</html>